<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EMGU.CV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <EMGU.CV.Properties.Settings>
            <setting name="_nbrButtons" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="_valUnitaireMax" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="_diametre" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="_epaisseur" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="_angleDegres_OrigineParRapportAX" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="_couleur" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_couleurBackground" serializeAs="String">
                <value>0</value>
            </setting>
        </EMGU.CV.Properties.Settings>
    </userSettings>
</configuration>